body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;         
}

#title {
    position: absolute;
    top: 100px;
}

.data {
    position: absolute;
    bottom: 200px;
}

#output{
    position: absolute;
    bottom: 100px;
}

.button {
    text-align: center;
}

#myForm {
    background: rgb(65, 255, 141);
    padding: 25px;
    width: 350px;
    border: 1px solid #ffffff;   
    border-radius: 10px;
}

.qris{
    position: absolute;
    top: 18rem;
    right: 37rem;
    height: 140px;
    width: auto;
}

.fast {
    position: absolute;
    top: 15rem;
    right: 618px;
}